body {
  font-family: Unbounded;
  background-color: #CB1C18;
}

* {
  padding: 0;
  margin: 0;
}

.main-img {
  background: url(/css/images/main-img.png) 0 0/100% no-repeat;
  background-position: center top;
}

.header {
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  color: #F0F0F0;
  font-size: 18px;
}
.header .logo {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}
.header ul {
  list-style: none;
  width: 800px;
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header a {
  text-decoration: none;
  font-weight: 500;
  margin-right: 10px;
  color: #F0F0F0;
}
.header .number {
  width: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .phone-icon {
  height: 32px;
}
.header .arrow {
  position: absolute;
  top: 90px;
  right: 100px;
}

.main-text h1 {
  color: #F0F0F0;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  width: 1055px;
  margin: 80px 0 0;
  line-height: 1.45;
}
.main-text h1 span {
  color: #090909;
}

.subtitle-text h2 {
  color: #F0F0F0;
  font-weight: 500;
  font-size: 24px;
  width: 630px;
  margin: 40px 0 0;
  line-height: 1.4;
}
.subtitle-text span {
  color: #090909;
  font-weight: 600;
}

.central-area {
  height: 565px;
  position: relative;
}

.cta a {
  color: #F0F0F0;
  font-weight: 600;
  font-size: 26px;
  text-decoration: none;
  position: absolute;
  bottom: 140px;
  right: 80px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  z-index: 2;
}
.cta img {
  position: absolute;
  bottom: 100px;
  right: 15px;
}

.second-block {
  background: url(/css/images/black-bg.png) 0 0/100% no-repeat;
  background-position: center bottom;
}
.second-block img {
  margin-bottom: 40px;
}
.second-block p {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 10px 0 0 100px;
}

h3 {
  color: #F0F0F0;
  font-weight: 700;
  font-size: 36px;
  margin-top: 100px;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
}

.beginners {
  width: 490px;
  margin-top: 90px;
  margin-left: 100px;
  position: relative;
}
.beginners p {
  width: 326px;
}
.beginners .begin-vector {
  position: absolute;
  top: -60px;
  left: 680px;
}

.amateurs {
  width: 490px;
  margin-top: 20px;
  margin-left: 620px;
  position: relative;
}
.amateurs p {
  width: 350px;
}
.amateurs .amat-vector {
  position: absolute;
  top: 100px;
  left: -520px;
}

.professional {
  width: 490px;
  margin-top: 100px;
  margin-left: 200px;
  position: relative;
  padding-bottom: 220px;
}
.professional p {
  width: 350px;
}
.professional .profi-vector {
  position: absolute;
  top: 50px;
  left: 720px;
}

.third-title {
  position: relative;
  display: inline-block;
  width: 740px;
}
.third-title h3 {
  margin-top: 60px;
  margin-bottom: 56px;
}
.third-title .smile {
  position: absolute;
  top: 10px;
}

.skills {
  color: #090909;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.skills #first-skill-block {
  background-color: #F0F0F0;
  height: 108px;
  margin-top: 24px;
}
.skills #first-skill-block .first-skill {
  width: 350px;
  padding: 30px 0 0 44px;
}
.skills #second-skill-block {
  color: #F0F0F0;
  border: 4px;
  border-color: #090909;
  border-style: solid;
  height: 108px;
  margin-top: 24px;
}
.skills #second-skill-block .second-skill {
  width: 305px;
  padding: 30px 0 0 44px;
}
.skills #third-skill-block {
  color: #F0F0F0;
  border: 4px;
  border-color: #090909;
  border-style: solid;
  height: 108px;
  margin-top: 24px;
}
.skills #third-skill-block .third-skill {
  width: 380px;
  padding: 30px 0 0 44px;
}

.free-lesson {
  background-color: #F0F0F0;
  margin-top: 100px;
}
.free-lesson .step {
  position: relative;
}
.free-lesson .step .step-number {
  position: absolute;
  top: -10px;
  left: 30px;
}
.free-lesson .step .first-img {
  position: absolute;
  top: -360px;
  left: 350px;
}
.free-lesson .step .second-img {
  position: absolute;
  bottom: -80px;
}
.free-lesson .step .third-img {
  position: absolute;
  bottom: -100px;
  left: 50px;
}
.free-lesson .step .fourth-img {
  position: absolute;
  left: 70px;
  bottom: -140px;
}
.free-lesson h3 {
  color: #090909;
  margin-bottom: 115px;
}
.free-lesson .step-name {
  color: #090909;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 0 20px 100px;
  position: relative;
}
.free-lesson .step-description {
  color: #090909;
  font-weight: 400;
  font-size: 16px;
  width: 400px;
  margin: 0 0 30px 188px;
}

.free-lesson-button {
  border: 4px;
  border-color: #CB1C18;
  border-style: solid;
  height: 80px;
  padding: 20px 0 0 30px;
  margin: 80px 0 100px 0;
  position: relative;
}
.free-lesson-button a {
  text-decoration: none;
  color: #090909;
  font-weight: 600;
  font-size: 26px;
}
.free-lesson-button img {
  position: absolute;
  top: 25px;
  right: 40px;
}

.prices {
  background: url(/css/images/price-bg.png) 0 0/100% no-repeat;
  background-position: center bottom;
  position: relative;
}
.prices .long-photo {
  width: 100%;
  position: absolute;
  bottom: 360px;
  left: 0;
}
.prices h3 {
  margin-bottom: 80px;
}
.prices .first-tariff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 35px 100px;
}
.prices .third-tariff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 360px 0 35px 500px;
}
.prices .fourth-tariff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 500px;
  padding-bottom: 170px;
}
.prices .price-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  color: #F0F0F0;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
}
.prices .price-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CB1C18;
  font-weight: 700;
  font-size: 34px;
}
.prices .price {
  margin-right: 26px;
}

.teachers h3 {
  margin: 50px 0 80px 0;
}
.teachers p {
  color: #F0F0F0;
  font-weight: 600;
  font-size: 18px;
}
.teachers .name {
  text-transform: uppercase;
  margin: 10px 0;
}
.teachers .face-photo {
  width: 100%;
}
.teachers .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.teachers .experience p {
  margin: 15px 20px 0 0;
}
.teachers .first-face {
  position: relative;
}
.teachers .first-exp {
  position: absolute;
  bottom: -10px;
  left: 20px;
}
.teachers .second-face {
  position: relative;
}
.teachers .second-exp {
  position: absolute;
  top: 10px;
  left: 20px;
}
.teachers .second-exp p {
  margin-top: 10px;
  color: #090909;
}
.teachers .third-face {
  position: relative;
}
.teachers .third-exp {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.teachers-button {
  border: 4px;
  border-color: #090909;
  border-style: solid;
  height: 80px;
  padding: 20px 0 0 30px;
  margin: 80px 0 100px 0;
  position: relative;
}
.teachers-button a {
  text-decoration: none;
  color: #F0F0F0;
  font-weight: 600;
  font-size: 26px;
}
.teachers-button img {
  position: absolute;
  top: 25px;
  right: 30px;
}

.reviews {
  background-color: #F0F0F0;
}
.reviews h3 {
  color: #090909;
  margin-bottom: 110px;
}
.reviews img {
  position: absolute;
  top: -200px;
  right: 260px;
}
.reviews p {
  background-color: #F0F0F0;
  color: #090909;
  font-weight: 400;
  font-size: 16px;
  border: 4px;
  border-color: #CB1C18;
  border-style: solid;
  width: 307px;
  padding: 50px 50px 30px 30px;
  margin-top: -4px;
}
.reviews .rev-name {
  background-color: #F0F0F0;
  color: #090909;
  font-weight: 700;
  font-size: 18px;
  border: 4px;
  border-color: #CB1C18;
  border-style: solid;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 357px;
  padding: 20px 0 15px 30px;
}
.reviews .first-rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reviews .second-rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -30px;
  margin-left: -30px;
}
.reviews .third-rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -30px;
}
.reviews .people-rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 100px;
}

.contact {
  background-color: #090909;
  padding-bottom: 100px;
}

.application {
  background-color: #CB1C18;
  margin-top: 80px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
  background: url(/css/images/main-img.png) 0 0/100% no-repeat;
  background-position: center top;
}
.application .deformed-smile {
  position: absolute;
  bottom: 90px;
  left: 10%;
}

h4 {
  color: #F0F0F0;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1.6;
  width: 715px;
  margin-bottom: 60px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.form input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F0F0F0;
  font-weight: 400;
  font-size: 16px;
  background-color: #CB1C18;
  border: 4px;
  border-color: #090909;
  border-style: solid;
  font-family: Unbounded;
  padding: 18px 0 18px 20px;
  margin-bottom: 20px;
}
.form ::-webkit-input-placeholder {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 16px;
  font-family: Unbounded;
}
.form ::-moz-placeholder {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 16px;
  font-family: Unbounded;
}
.form :-ms-input-placeholder {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 16px;
  font-family: Unbounded;
}
.form ::-ms-input-placeholder {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 16px;
  font-family: Unbounded;
}
.form ::placeholder {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 16px;
  font-family: Unbounded;
}
.form a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #F0F0F0;
  font-weight: 600;
  font-size: 16px;
  background-color: #090909;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 0 18px 20px;
}

.lesson-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(9, 9, 9, 0.6);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}
.lesson-popup .inner-lesson-popup {
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #CB1C18;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 8%;
  padding-right: 8%;
}
.lesson-popup:target {
  opacity: 1;
  visibility: visible;
}
.lesson-popup:target .inner-lesson-popup {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.lesson-popup .cross-ref {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background-color: none;
}
.lesson-popup .cross {
  position: absolute;
  top: 0;
  right: 0;
}

#application-popup h4 {
  margin: 0 0 60px 0;
  width: 520px;
}
#application-popup p {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 14px;
  text-transform: lowercase;
  margin: 0;
  padding-bottom: 20px;
  width: 295px;
}
#application-popup #par2 {
  width: 260px;
}
#application-popup .popup-smile {
  position: absolute;
  top: 90px;
  right: 16%;
}

#popup-success h4 {
  color: #F0F0F0;
  font-weight: 700;
  font-size: 46px;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0 0 80px 0;
  width: 100%;
}
#popup-success .success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#popup-fail h4 {
  color: #F0F0F0;
  font-weight: 700;
  font-size: 46px;
  text-transform: uppercase;
  line-height: 1.5;
  margin: 0 0 80px 0;
  width: 100%;
}
#popup-fail .success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #090909;
  padding-top: 100px;
}
.footer .footer-titles {
  color: #F0F0F0;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.footer .socials {
  margin-top: 114px;
  padding-bottom: 90px;
}
.footer .socials .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .socials .social img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: -6px;
  margin-top: 5px;
}
.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -90px;
}
.footer .contacts p {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
}
.footer .navigation {
  margin-top: -90px;
}
.footer .navigation a {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  text-decoration: none;
  display: block;
}