body {
  font-family: Unbounded;
  background-color: #F0F0F0;
}

* {
  padding: 0;
  margin: 0;
}

h3 {
  color: #090909;
  font-weight: 700;
  font-size: 36px;
  margin-top: 60px;
  text-transform: uppercase;
  width: 100%;
  display: inline-block;
}

.header {
  height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .logo {
  color: #090909;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .button {
  color: #090909;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  border: 4px;
  border-color: #090909;
  border-style: solid;
  padding: 9px 40px 13px 40px;
}
.header .menu-a {
  width: 0px;
  opacity: 0;
  visibility: hidden;
}

.teachers {
  padding-bottom: 60px;
}
.teachers h3 {
  margin: 50px 0 80px 0;
}
.teachers p {
  color: #090909;
  font-weight: 600;
  font-size: 18px;
}
.teachers .name {
  text-transform: uppercase;
  margin: 10px 0;
}
.teachers .face-photo {
  width: 100%;
}
.teachers a {
  color: #090909;
  font-weight: 600;
  font-size: 20px;
  border: 4px;
  border-color: #CB1C18;
  border-style: solid;
  height: 60px;
  width: 98%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 40px 0;
}
.teachers .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.teachers .experience p {
  margin: 15px 20px 0 0;
}
.teachers .first-face {
  position: relative;
}
.teachers .first-exp {
  position: absolute;
  bottom: -10px;
  left: 20px;
}
.teachers .first-exp p {
  color: #F0F0F0;
}
.teachers .second-face {
  position: relative;
}
.teachers .second-exp {
  position: absolute;
  top: 10px;
  left: 20px;
}
.teachers .second-exp p {
  margin-top: 10px;
}
.teachers .third-face {
  position: relative;
}
.teachers .third-exp {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.teachers .third-exp p {
  color: #F0F0F0;
}
.teachers .fourth-face {
  position: relative;
}
.teachers .fourth-exp {
  position: absolute;
  bottom: 12px;
  right: 26px;
}
.teachers .fourth-exp p {
  color: #F0F0F0;
}
.teachers .fifth-face {
  position: relative;
}
.teachers .fifth-exp {
  position: absolute;
  top: 12px;
  right: 26px;
}
.teachers .fifth-exp p {
  margin-top: 10px;
}

.footer {
  padding-top: 100px;
}
.footer .footer-titles {
  color: #090909;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
.footer .socials {
  margin-top: 114px;
  padding-bottom: 90px;
}
.footer .socials .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .socials .social img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: -6px;
  margin-top: 5px;
}
.footer .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -90px;
}
.footer .contacts p {
  color: #090909;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
}
.footer .navigation {
  margin-top: -90px;
}
.footer .navigation a {
  color: #090909;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  text-decoration: none;
  display: block;
}
.footer .first-phone-smile {
  width: 0px;
  opacity: 0;
  visibility: hidden;
}
.footer .second-phone-smile {
  width: 0px;
  opacity: 0;
  visibility: hidden;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(9, 9, 9, 0.6);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}
.popup .inner-popup {
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-color: #CB1C18;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 8%;
  padding-right: 8%;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .inner-popup {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.popup .cross-ref {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background-color: none;
}
.popup .cross {
  position: absolute;
  top: 0;
  right: 0;
}
.popup .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popup .content .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
}
.popup .content .photo img {
  height: 440px;
  width: 305px;
  -o-object-fit: cover;
     object-fit: cover;
}
.popup .content .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup .content .information .name-exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F0F0F0;
  font-weight: 600;
  font-size: 18px;
}
.popup .content .information .name-exp p {
  text-transform: uppercase;
}
.popup .content .information .name-exp .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}
.popup .content .information .name-exp .experience p {
  text-transform: lowercase;
  width: 40px;
  margin: 15px 50px 0 0;
}
.popup .content .information .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.popup .content .information .info p {
  color: #F0F0F0;
  font-weight: 400;
  font-size: 16px;
  width: 500px;
  line-height: 1.45;
  margin-top: 15px;
}

@media (max-width: 1200px) {
  .teachers .name {
    width: 178px;
  }
}
@media (max-width: 992px) {
  .header .back-button .button {
    display: none;
  }
  .header .back-button .menu-a {
    width: auto;
    opacity: 1;
    visibility: visible;
    margin-right: 10px;
  }
  .teachers .experience img {
    width: 70px;
  }
  .teachers .first-exp {
    bottom: 0px;
  }
  .teachers .second-exp p {
    margin-top: 5px;
  }
  .teachers .fifth-exp {
    top: 5px;
    right: 10px;
  }
  .teachers .fifth-exp p {
    margin-top: 5px;
  }
  .footer .nav-title {
    display: none;
  }
  .footer .column {
    display: none;
  }
}
@media (max-width: 768px) {
  .teachers h3 {
    color: #090909;
    font-weight: 700;
    font-size: 22px;
    margin: 40px 0 60px 0;
  }
  .teachers p {
    color: #090909;
    font-weight: 600;
    font-size: 16px;
  }
  .teachers .name {
    width: 100%;
    margin: 0 0 10px 0;
  }
  .footer {
    position: relative;
    padding-top: 40px;
  }
  .footer .first-phone-smile {
    width: auto;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: -50px;
    right: 15%;
  }
  .footer .second-phone-smile {
    width: auto;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 70px;
    right: 10%;
  }
  .footer .footer-titles {
    color: #090909;
    font-weight: 600;
    font-size: 16px;
  }
  .footer .voice-title {
    display: none;
  }
  .footer .con-title {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .footer .socials {
    margin-top: 190px;
    padding-bottom: 50px;
  }
  .footer .socials .social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
  }
  .footer .contacts {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: -150px;
  }
  .footer .contacts p {
    color: #090909;
    font-weight: 400;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .teachers .face-photo {
    width: 300px;
    height: auto;
  }
  .teachers a {
    width: 292px;
  }
  .teachers .fourth-exp {
    left: 34px;
  }
  .teachers .fifth-exp {
    top: 8px;
    left: 15px;
  }
  .teachers .fifth-exp p {
    margin-top: 8px;
  }
}